.collapse-container {
    margin: 10px 0;
  }
  
  .collapse-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    align-items: center;
  }
  
  .collapse-header:hover {
    background-color: #f1f1f1;
  }
  
  .arrow-icon {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .arrow-icon.open {
    transform: rotate(180deg); 
  }
  
  .collapse-content {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    background-color: #fafafa;
  }
  