.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  border-radius: 8px;
  width: 100%;
  max-width: 480px;
  max-height: 90vh; 
  position: relative;
  overflow-y: auto; 
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50px;
  width: 28px;
  height: 28px;
  padding: 8px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-item-name {
  font-size: 18px;
  color: #121212;
}

.modal-item-description {
  font-size: 16px;
  margin-top: -10px;
  color: #464646;
}

.modal-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-item-price {
  font-size: 18px;
  font-weight: bold;
}

.modal-item-image {
  width: 100%;
  height: auto;
}

.modal-quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-quantity-button-subtraction {
  background: #DADADA;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  width: 25px;
  border-radius: 50px;
  align-items: center;
  color: #5F5F5F;
  justify-content: center;
  height: 25px;
}

.modal-quantity-button-addition {
  background: #4F372F;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  width: 25px;
  border-radius: 50px;
  align-items: center;
  color: #fff;
  justify-content: center;
  height: 25px;
}

.modal-quantity {
  font-size: 18px;
  margin: 0 15px;
}

.modal-add-to-order-button {
  background-color: #4F372F;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
  width: 90%;
  margin-bottom: 20px;
}

.modifier-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.select-option {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
}

.modifier-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.modifier-option-details {
  display: flex;
  flex-direction: column;
}

.option-name {
  font-size: 16px;
  margin: 0;
}

.option-price {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
}

.radio-group-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-image-placeholder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
}
