.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.drawer-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff; 
  position: absolute;
  right: 10px;
}

@media (max-width: 768px) {
  .header-content {
    justify-content: flex-start;
  }

  .drawer-button {
    right: 0;
  }
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tabs-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.selected-tab-name {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


