body {
  margin: 0;
  font-family: Arial, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

h2, h3, h4 {
  color: #333;
}

section {
  padding: 20px;
}

@media (max-width: 600px) {
  .header-content {
    flex-direction: row;
  }

  h1 {
    font-size: 20px;
  }

  section {
    padding: 10px;
  }
}
